@font-face {
  font-family: 'Carlito';
  src: url('../fonts/Carlito.woff2') format('woff2'), url('../fonts/Carlito.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Carlito-Bold';
  src: url('../fonts/Carlito-Bold.woff2') format('woff2'), url('../fonts/Carlito-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Carlito-Italic';
  src: url('../fonts/Carlito-Italic.woff2') format('woff2'), url('../fonts/Carlito-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
html {
  font-size: 14pt;
}
body {
  margin: 0;
}
.container {
  background-color: #fafafa;
  width: 100%;
  padding: 31px 0;
}
.card {
  width: 705px;
  background: white;
  padding: 12px 15px 13px 11px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  border-radius: 3px;
  box-shadow: 0px 0 1px 1px #dedede;
  margin-bottom: 19px;
}
.card__avatar {
  width: 90px;
  min-width: 90px;
  margin-right: 15px;
}
.card__avatar-image {
  width: 100%;
}
.card__title {
  font-size: 1.14rem;
  font-family: Calibri-Bold, Carlito-Bold, AdobeInvisFont, MyriadPro-Regular, Courier;
  color: #c44512;
}
.card__text {
  font-family: Calibri, Carlito, Vani, AdobeInvisFont, Courier;
  width: 100%;
}
.card__small-text {
  font-family: Calibri-Italic, Carlito-Italic, MicrosoftTaiLe-Bold, AdobeInvisFont, Courier;
  font-size: 12pt;
  color: #969696;
  display: flex;
}
.card__small-avatar {
  margin-right: 7px;
  border-radius: 50%;
}
.card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__rate {
  font-family: ArialMT, Calibri-Bold, Carlito-Bold, AdobeInvisFont, MyriadPro-Regular, Courier;
  color: #005e20;
  text-align: right;
}
.card__sales {
  font-family: Calibri-Bold, Carlito-Bold, AdobeInvisFont, MyriadHebrew-Regular, Courier;
  font-size: 0.93rem;
  color: #005e20;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.card__sales::before {
  content: '';
  width: 14px;
  height: 14px;
  background: url('../images/currency.png');
  display: block;
  margin-right: 5px;
}
.card__rating {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: Calibri-Bold, Carlito-Bold, AdobeInvisFont, MyriadPro-Regular, Courier;
}
.card__rating::before {
  content: '';
  width: 13px;
  height: 13px;
  background: url('../images/good.png');
  display: block;
  margin-right: 10px;
}
.card__rating-positive {
  color: #005e20;
}
.card__rating-negative {
  color: #c44512;
}
.button-load-more {
  margin: auto;
  display: block;
  background: white;
  box-shadow: 0px 0 1px 1px #dedede;
  border: none;
  padding: 10px 30px;
  font-family: Calibri-Bold, Carlito-Bold, AdobeInvisFont, MyriadPro-Regular, Courier;
}
