@import "variables";

@font-face {
    font-family: 'Carlito';
    src: url('../fonts/Carlito.woff2') format('woff2'),
        url('../fonts/Carlito.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Carlito-Bold';
    src: url('../fonts/Carlito-Bold.woff2') format('woff2'),
        url('../fonts/Carlito-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Carlito-Italic';
    src: url('../fonts/Carlito-Italic.woff2') format('woff2'),
        url('../fonts/Carlito-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}



html {
    font-size: 14pt;
}

body {
    margin: 0;
}

.container {
    background-color: #fafafa;
    width: 100%;
    padding: 31px 0;
}

.card {
    width: 705px;
    // height: 115px;
    background: white;
    padding: 12px 15px 13px 11px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    border-radius: 3px;
    box-shadow: 0px 0 1px 1px @light-gray;
    margin-bottom: 19px;
    &__avatar {
        width: 90px;
        min-width: 90px;
        margin-right: 15px;
    }
    &__avatar-image {
        width: 100%;
    }
    &__title {
        font-size: 1.14rem;
        font-family: Calibri-Bold, Carlito-Bold, AdobeInvisFont, MyriadPro-Regular, Courier;
        color: @red;
    }
    &__text {
        font-family: Calibri, Carlito, Vani, AdobeInvisFont, Courier;
        width: 100%;
    }
    &__small-text {
        font-family: Calibri-Italic, Carlito-Italic, MicrosoftTaiLe-Bold, AdobeInvisFont, Courier;
        font-size: 12pt;
        color: @gray;
        display: flex;
        align-items: center;
    }
    &__small-avatar {
        margin-right: 7px;
        border-radius: 50%;
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__rate {
        font-family: ArialMT, Calibri-Bold, Carlito-Bold, AdobeInvisFont, MyriadPro-Regular, Courier;
        color: @green;
        text-align: right;
    }
    &__sales {
        font-family: Calibri-Bold, Carlito-Bold, AdobeInvisFont, MyriadHebrew-Regular, Courier;
        font-size: 0.93rem;
        color: @green;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &::before {
            content: '';
            width: 14px;
            height: 14px;
            background: url('../images/currency.png');
            display: block;
            margin-right: 5px;
        }
    }
    &__rating {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-family: Calibri-Bold, Carlito-Bold, AdobeInvisFont, MyriadPro-Regular, Courier;
        &::before {
            content: '';
            width: 13px;
            height: 13px;
            background: url('../images/good.png');
            display: block;
            margin-right: 10px;
        }
    }
    &__rating-positive {
        color: @green;
    }
    &__rating-negative {
        color: @red;
    }
}

.button-load-more {
    margin: auto;
    display: block;
    background: white;
    box-shadow: 0px 0 1px 1px @light-gray;
    border: none;
    padding: 10px 30px;
    font-family: Calibri-Bold, Carlito-Bold, AdobeInvisFont, MyriadPro-Regular, Courier;
}